@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
  }
}
.btn {
  border-bottom: 1px solid #000;
}
.btn:hover {
  border: none;
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  background-color: #000;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.handwriting {
  font-family: "Pacifico", cursive;
}
.about-icon {
  @apply transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none;
}
.about-row {
  @apply grid grid-cols-3 row-span-1;
}
.about-child {
  @apply flex flex-col justify-center items-center gap-4 m-4 border-red-300;
}
.portfolio {
  transform: rotate(-90deg);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 12% 10% 0 10%;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination {
  display: inline-flex !important;
  width: 100% !important;
  flex-wrap: wrap;
}
.swiper-pagination-bullet {
  flex: 1 0 25% !important;
  margin: 16px 0px !important;
  background: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.swiper-pagination-bullet-active {
  color: #fff;
  background: none !important;
}
